body {
    display: flex;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

strong{
    font-weight:bold;
   }

main {
    margin: 1rem 5rem 2rem 22rem;
}

nav {
    position: fixed;
    margin: 1rem;
    border-right: 2px solid black;
    height: 1000vh;
    padding-right: 1rem;
}

nav li {
    margin: 1rem auto;
}

nav a {
    color: black;
    text-decoration: none;
    padding: 0.5rem;
}

nav a:hover, 
nav a:focus,
nav a:active {
    background-color: black;
    color: white;
    padding: 0.5rem;
    
}

section a {
    color: #4F86C6;
}

section li {
    margin: 1rem 1rem 0 3rem;
}

section ul {
    list-style: initial;
}

pre {
    width: 45rem;
    border-left: 5px solid red;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    font-family: Consolas,"courier new";
    color: crimson;
    background-color: #EEEEEE;
  } 

code {
    background-color: #EEEEEE; 
    line-height: 1.5rem;
}

p {
    margin: 1rem 0;
    line-height: 1.5rem;
}

header {
    font-size: 2rem;
    font-weight: 700;
    padding: 0.5rem 0;
    margin: 1rem 0;
    border-top: 1px solid black;
    border-bottom: 1px solid black;;
    top: 0;
}  

section header {
    margin: 3rem auto;
}

h3 {
    display: inline-block;
    font-size: 1.5rem;
    color: white;
    background-color: black;
    padding: 0.2rem 1rem;
    margin: 2rem 0 0.5rem 0;
}

h4 {
    font-size: 1.3rem;
    font-weight: 700;
    margin: 2rem auto;
}

img {
    max-width: 70%;
    margin: 1rem auto;
}

#do_you_really_need_a_media_query pre {
    margin-bottom: 1rem;
}

@media screen and (max-width: 950px) {          
}