body {
    display: flex;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

main {
    margin: 1rem 5rem 2rem 22rem;
}

nav {
    position: fixed;
    margin: 1rem;
}

nav {
    border-right: 2px solid black;
    height: 1000vh;
    padding-right: 1rem;
}

nav li {
    margin: 1rem auto;
}

nav a:hover, 
nav a:focus,
nav a:active {
    background-color: black;
    color: white;
    padding: 0.5rem;
    
}

nav a {
    color: black;
    text-decoration: none;
    padding: 0.5rem;
}

section a {
    color: #4F86C6;
}

section li {
    margin: 1rem 1rem 0 3rem;
}

section ul {
    list-style: initial;
}

pre {
    height: 7rem;
    font-family: Consolas,"courier new";
    color: crimson;
    background-color: #EEEEEE;
  } 

code {
    background-color: #EEEEEE; 
}

p {
    margin: 1rem 0;
    line-height: 1.5rem;
}

header {
    font-size: 2rem;
    font-weight: 700;
    padding: 0.5rem 0;
    margin: 1rem 0;
    border-top: 1px solid black;
    border-bottom: 1px solid black;;
    top: 0;
}  

h3 {
    display: inline-block;
    font-size: 1.5rem;
    color: white;
    background-color: black;
    padding: 0.2rem 1rem;
    margin: 3rem 0 0.5rem 0;
}

h4 {
    font-size: 1.3rem;
    font-weight: 700;
    margin: 2rem auto;
}

@media screen and (max-width: 950px) { 
    body {
        display: flex;
        flex-direction: column;
    }

    main {
        margin: 35rem 1rem;
    }

    header {
        color: black;
    }

    .nav {
        position: fixed;
        text-align: center;
        margin: 2rem auto;
    }    
        
}